html {
  font-size: 10px;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("inter-regular.woff2") format("woff2"),
       url("inter-regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("inter-medium.woff2") format("woff2"),
       url("inter-medium.woff") format("woff");
}

body {
  background-color: #fff;
  color: #1b1f23;
  font-family: "Inter",
    '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  font-size: 1.4rem;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12rem;
  width: calc(100% - 2.4rem * 2);
  max-width: calc(102.4rem - 2.4rem * 2);
  margin: auto;
  padding: 0 2.4rem;
}

h1 {
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5em;
}

p {
  font-size: 1.6rem;
  line-height: 1.25em;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 33rem;
  padding: 3.2rem 3.2rem 1.6rem 3.2rem;
  margin: auto;
  box-shadow: 0rem 0.4rem 0.8rem 0rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 2rem;
}

.heading-container {
  margin-bottom: 2.2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  color: #1b1f23;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: "Inter",
    '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  border-radius: 0.6rem;
  margin-bottom: 1.6rem;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  transition: all 200ms ease-in-out;
}

button.brand,
.button.brand {
  background-color: #0a52ff;
  color: #ffffff;
}

button.brand:hover,
.button.brand:hover {
  background-color: #0a52ff;
  box-shadow: 0rem 0.4rem 0.8rem 0rem rgba(0, 0, 0, 0.1);
}

.button.subtle {
  font-weight: 400;
  color: #1b1f23;
}

button:focus,
.button:focus,
button:active,
.button:active {
  outline: none;
  border: none;
  box-shadow: 0 0 0 0.3rem #80a9ff;
}

.logo {
  width: 2.2rem;
  margin-right: 0.8rem;
}

.back-icon {
  margin-right: 0.4rem;
  font-size: 1.6rem;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
}

label span {
  font-size: 1.4rem;
}

label input {
  padding: 0.8rem;
  margin: 0.4rem 0;
  font-size: 1.8rem;
  font-family: "Inter",
    '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  line-height: 1.5em;
  border: 1px solid #d1d5da;
  border-radius: 0.4rem;
  color: #24292e;
  transition: border ease 200ms;
}

label input:hover {
  border: 0.1rem solid #959da5;
}

label input:focus {
  border: 0.1rem solid #2f363d;
}

footer {
  padding: 0 2.4rem;
}

.footer-text {
  text-align: center;
  margin: 1.6rem 0;
  color: #959da5;
  line-height: 1.75em;
  font-size: 1.2rem;
}

.error {
  text-align: center;
  color: red;
  margin-bottom: 2.4rem;
}

.error {
  text-align: center;
  color: red;
  margin-bottom: 2.4rem;
}

.helptext {
  display: block;
  margin-bottom: 3.2rem;
  background-color: lightyellow;
  border-radius: 1.2rem;
  border: 1px solid #eee;
  padding: 1.4rem 1.8rem;
  font-size: 1.4rem;
  line-height: 1.4em;
  color: black;
}

.helptext a {
  text-decoration: underline;
}
